html,
body {
  height: 400px;
  width: 360px;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 50px;
  margin-top: 200px; */
  width: 300px;
  /* height: 350px; */
  /* border: solid rgba(250, 128, 114, 0.5); */
}

.input {
  width: inherit;
}

input {
  margin-top: 10px;
  width: inherit;
  height: 27px;
  text-overflow: ellipsis;
  padding-left: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: inherit;
  margin-top: 24px;
}

.item {
    flex: 1;
    width: inherit;
    min-height: 27px;
    padding: 5px 0;
    display: flex;
    position: relative;
    align-items: center;
}

.drag {
    position: absolute;
    left: 0;
    cursor: move;
    margin: 0 8px;
    padding-top: 2px;
    visibility: hidden;
}

.content {
    width: 80%;
    margin-left: 32px;
}

.icon {
    display: none;
    margin: 0 8px;
    padding-top: 2px;
}

.push {
    margin-left: auto;
}

.item:hover {
    background-color: #eaeaea;
}

.item:hover .drag {
    visibility: visible;
}

.item:hover .icon {
    display: inherit;
}
